<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      #main {
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
      }

      h1 { text-align: center }
    </style>
  </head>
  <body>
    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
