<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      body {
        background-color: #8d99ae;
      }

      #main {
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
      }

      h1 {
        color: #2b2d42;
        text-align: center;
      }

      h1::after {
        font-size: 1rem;
        color: #ef233c;
        content: "\2605";
      }
    </style>
  </head>
  <body>
    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
